# Chapter 1 : Values and Types

## Introduction - Hello world

Traditionally, the first program you write in a new language
is called "Hello, World!" because all it does is display the
words "Hello, World!".  In Python, it looks like this:

In [30]:
print("Hello, World!")

Hello, World!

This is an example of a **print statement**, although it doesn't actually print anything on paper.  It displays a result on the
screen.

The quotation marks in the program mark the beginning and end of the text to be displayed; they don't appear in the result.

The parentheses (the () following print) indicate that *print* is a function.  We'll get
to functions later.

If you want to include parentheses (") in your string, you can use \\". \\ is the so-called escape character, indicating that the next symbol is part of the string and not for instance the end marker. How to add \\ in your string? Simply by using \\\\ !

**EXERCISE**
- Make a print statement that gives your name in parentheses

You can print multiple values by separating them by commas:

In [17]:
print("My name is", "Arthur", "Dent")

My name is Arthur Dent

## Arithmetic operators

After "Hello, World", the next step is arithmetic.  Python provides
*operators*, which are special symbols that represent computations
like addition and multiplication.

The operators +, -, and \* perform addition,
subtraction, and multiplication, as in the following examples:

In [18]:
40 + 2

42

In [19]:
43 - 1

42

In [20]:
6 * 7

42

The operator / performs division:

In [21]:
84 / 2

42.0

You might wonder why the result is *42.0* instead of *42*.
I'll explain in the next section.

Finally, the operator **\*\*** performs exponentiation; that is,
it raises a number to a power:

In [22]:
6**2 + 6

42

## Values and types
A *value* is one of the basic things a program works with, like a
letter or a number.  Some values we have seen so far are 2,
42.0, and "Hello, World!".

These values belong to different *types*:
2 is an integer, 42.0 is a *floating-point number*,
and "Hello, World!" is a *string*,
so-called because the letters it contains are strung together.

If you are not sure what type a value has, the interpreter can
tell you:

In [23]:
type(2)

int

In [24]:
type(42.0)

float

In [25]:
type('Hello, World!')

str

In these results, the word "class" is used in the sense of
a category; a type is a category of values.

Not surprisingly, integers belong to the type *int*,
strings belong to *str* and floating-point
numbers belong to *float*.

In [26]:
type('2')

str

In [27]:
type('42.0')

str

They're strings.

When you type a large integer, you might be tempted to use commas
between groups of digits, as in 1,000,000.  This is not a
legal *integer* in Python, but it is legal:

In [28]:
1,000,000

(1, 0, 0)

That's not what we expected at all!  Python interprets 1,000,000 as a comma-separated sequence of integers.  We'll learn
more about this kind of sequence later.

**EXERCISES** Use Python as a calculator. Write Python snippets to compute the following quantities:
-  How many seconds are there in 42 minutes 42 seconds?
- How many miles are there in 10 kilometers?  Hint: there are 1.61
  kilometers in a mile.
- If you run a 10 kilometer race in 42 minutes 42 seconds, what is
  your average pace (time per mile in minutes and seconds)?  What is
  your average speed in miles per hour?

In [ ]:
# Write here your code for the first question

In [ ]:
# Write here your code for the second question

In [ ]:
# Write here your code for the third question